.footer {
    border-top: 1px rgb(228, 228, 228) solid;
        width: 100%;
    float: left;
    margin-top:100px

}
.title-footer {
   margin-bottom: 16px;
}
ul li {
    list-style: none;
}
ul li a {
    color: var(--color-text-muted, #767676) !important;
    /*font: inherit !important;*/
    
}
._1awrjnc1 {
    overflow-wrap: break-word !important;
    font-size: 12px;
    line-height: 1.33333em !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px !important;
}
._4btwil {
    display: inline-block !important;
    background-color: rgb(0, 106, 112) !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: initial !important;
    border-radius: 4px !important;
    padding: 0px 4px !important;
}

._146g3kk {
    display: inline-block !important;
    margin-left: 8px !important;
    margin-right: -20px !important;
    line-height: 1 !important;
}
.footer-info{
        text-align: center;
}