/* .navbar{
    height: 81px;
} */
.navbar-brand img{
    height: 50px;
    width: 50px;
}

.navbar .row {
	margin-right: 0px !important;
    margin-left: 0px !important;

}
 .bg-blue {
    border-bottom: 1px rgb(228, 228, 228) solid;
}

.navbar .header-icon {
	width: 25%;
    /* text-align: center; */
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #484848 !important;
    font-size: 14px;
    font-weight: 100 !important;
}
.navbar .btn-login, .navbar .btn-sign-up  {
	background: transparent;
    border: none;
}

.navbar .nav-item {
    margin-left:10px;
    text-align: center
}



.login_modal_footer{margin-top:5px;}
.login_modal_header .modal-title {text-align: center;font-family:'Philosopher',sans-serif; }
.form-group{position: relative;}
.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}
.login-modal{
    width:100%;
    padding-bottom:20px;
}
.login_modal_header, .login_modal_footer {background: white !important;color:white;}
.modal-register-btn{margin: 4% 33% 2% 33% ;width:100%;}
.login-modal input{height:50px; box-shadow: none; border:1px solid #ddd;}
.modal-body-left{float:left; width:50%; padding-right:4%; border-right:4px solid #ddd;}
.modal-body-right{float:right; width:47%;}
.login-link{padding:0 20%;}
.facebook, .twitter, .google, .email {width:100%;height:48px; padding-top:2%; margin-top:2%;}
.modal-icons{margin-left: -10px; margin-right: 20px;}
.google, .google:hover{background-color:white;border:2px solid gray;color:black;}
.facebook, .facebook:hover{background-color: #3b5999; border:2px solid #3b5999;color:#fff;}
.email, .email:hover{background-color: #c19d64; border:2px solid #c19d64;color:#fff;}

#social-icons-conatainer{position: relative;}
#center-line{position: absolute;  right: 320px;top: 80px;background:#ddd;  border: 4px solid #DDDDDD;border-radius: 20px;}
.modal-login-btn{width:100%;height:40px; margin-bottom:10px;background-color: #c19d64}
#modal-launcher{margin: 30% 0 0 30%; }
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #0089bb;
    border-color: #0089bb;
}
.btn-success {
    color: #fff;
    background-color: #0089bb;
    border-color: #0089bb;
}

#login-modal .modal-dialog {
    max-width: 700px !important;
    height: auto;
}


.f-nav{  
    z-index: 9999;
    position: fixed;
    width: 100%;
    background-color: white !important;
    padding: auto;
}
.divhr{
    position: relative;
    text-align: center;
    padding-top: 20px;
}
.divhr>p:after{
    content: '';
    width: 40%;
    height: 1px;
    background: #cecece;
    display: inline-block;

}
.divhr>p:before{
    content: '';
    width: 40%;
    height: 1px;
    background: #cecece;
    display: inline-block;
}
.modal-header .more_info{
    margin-left: 20%;
}
.modal-header .more_info span{
    color:#0C6A6F;
}
.buttonB{
    width: 100%;
    display: inline-block !important;
    margin-top: 10px;
    font-size: inherit;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    border-color: rgb(118, 118, 118) !important;
    color: rgb(72, 72, 72) !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    font-weight: bold;
    font-family: 'Myfont',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    

}
.buttonB > div {
    display: inline-block !important;
    text-align: left;
}
.buttonB > span {
    display: inline-block !important;
    font-weight: bold !important;
    padding: 10px 42px 10px 0px !important;

}
.navbar .navbar-nav .nav-item button {
    color: #484848 !important;
    font-size: 14px;
    font-weight: 100 !important;
}
#inlineFormCustomSelect{
    background-color: white;
    margin-left: 10px;
}