
.optionTitle{
    position: relative;
    line-height: 1.125;
}
.divbody {
    padding-top: 5%;
}
.gr-avatar{
    position: absolute;
}
.avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.avatar-cus {
    vertical-align: middle;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 10px;
    object-position: top;
    object-fit: cover;
}
.request-to-book{
    -moz-box-shadow:    inset 0 0 2px grey;
    -webkit-box-shadow: inset 0 0 2px grey;
    box-shadow: inset 0 0 2px grey;
    width: 90%;
    margin-left: 4%;
    margin-top: 40px;

}
.home-high-lights {
    margin-top: 25px;
    -moz-box-shadow:    inset 0 0 2px grey;
    -webkit-box-shadow: inset 0 0 2px grey;
    box-shadow: inset 0 0 2px grey;

}
.home-high-lights .content {
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 4%;


}
.home-high-lights .content > p:first-child {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.home-high-lights .content > p > span{
    color: gray;
    font-size: 11px;
}

.optionTitle .row .col-10 label{
    line-height: 3;
}

.optionTitle .row .col-2 {
    display: none;
}
.content-request {
    padding: 20px;

}
.icon-furniture-reps{
    display: none;
}
.icon-furniture{
    display: block;
}
select {
    height: 34px !important;
}
.content-request > span > b {
    font-size: 30px;
    font-weight: bold;
}
.content-request > p > span > i {
    color: #40bab3;
}
.btnRequest {
    background-color:#c19d64;
    color: white;
    font-weight: bold;
}
.footer-request {
    position: relative;
}
.footer-request > i {
    position: absolute;
    font-size: 40px;
    right: 45px;
    bottom: 10px;
    color: #d1ad5c;
}
.div-Guest {
    background-color: gray;
    width: 100%;
    height: 30%;
}
.div-Guest .row{
    padding-top: 10px;

}
.button-config {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-left: 5px;
    margin-right: 5px;
    color: #008489;
    border-color: #008489;
}
.title-choose{
    display: inline;
    text-align: center;
}
.group-button-config{
    display: inline;
    text-align: center;
}
.space{
    color: #484848 ;
    font-weight: bold;
}

.readmore{
    color: #008489;
}

.hidemore{
    color: #008489;
    display: none;
}

.readmore:target ~ .hidemore {
    display: inline;
 }
.readmore:target {display: none;}
.readmore:target ~ .readmore {display: none;}
.readmore:target ~ .space-detail {
    max-height: 100%; 
    opacity: 1;
 }

 .readmoreNeighBorhood{
    color: #008489;
}

.hidemoreNeighBorhood{
    color: #008489;
    display: none;
}

.readmoreNeighBorhood:target ~ .hidemoreNeighBorhood {
    display: inline;
 }

.readmoreNeighBorhood:target {display: none;}
.readmoreNeighBorhood:target ~ .readmoreNeighBorhood {display: none;}
.readmoreNeighBorhood:target ~ .neightbor-detail {
    max-height: 100%; 
    opacity: 1;
 }
 
 .neightbor-detail{
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: .25s ease;  
 }

 .readmoreRules{
    color: #008489;
}

.hidemoreRules{
    color: #008489;
    display: none;
}

.readmoreRules:target ~ .hidemoreRules {
    display: inline;
 }

.readmoreRules:target {display: none;}
.readmoreRules:target ~ .readmoreRules {display: none;}
.readmoreRules:target ~ .rules-detail {
    max-height: 100%; 
    opacity: 1;
 }
 
 .rules-detail{
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: .25s ease;  
 }
 

 
 .space-detail {
   position: relative;
   opacity: 0;
   max-height: 0;
   overflow: hidden;
   transition: .25s ease;
 
 }
 .form-update-phone{
    width: 50.333333% !important;
    margin-left: 27.33333% !important;
    padding-top: 30px;

 }

 .form-update-phone select{
     height: 40px !important;

 }
.form-update-phone .autho{
    font-size: 12px;
 }
 .form-update-phone .btnNext {
         background: rgb(0, 132, 137) !important;
         color: white;         

 }

 #accessibility-modal .modal-dialog{
     max-width: 1032px;
 }

 #accessibility-modal .modal-dialog .modal-content{
    padding: 35px;
}

.popover.show.popoverBook.bs-popover-bottom
{

    border-radius: 2% !important;
    transform: translate3d(817px, 690px, 0px) !important;
    min-width: 335px;
}
.popover.show.popoverBook.bs-popover-top{
    transform: translate3d(817px, 698px, 0px) !important;
    min-width: 335px;
}

.label-book{
    margin-top: 16px;
    margin-bottom: 6px;
}

.box-book .DateRangePicker.DateRangePicker_1 .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2  {
    width: 100% !important;
}
.box-book .DateRangePicker.DateRangePicker_1{
    width: 100% !important;
    z-index: 1001 !important;

}

.box-book .DateRangePicker.DateRangePicker_1 input {
    font-size: 17px !important;
    padding: 7px 10px !important;
}

.box-book .DateRangePicker.DateRangePicker_1 .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2  
.DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2 
.DayPicker.DayPicker_1.DayPicker__horizontal.DayPicker__horizontal_2.DayPicker__withBorder.DayPicker__withBorder_3{
    width: 340px !important;
}

.box-book .DateRangePicker.DateRangePicker_1 .DateRangePickerInput.DateRangePickerInput_1.DateRangePickerInput__withBorder.DateRangePickerInput__withBorder_2  
.DateRangePicker_picker.DateRangePicker_picker_1.DateRangePicker_picker__directionLeft.DateRangePicker_picker__directionLeft_2 
.DayPicker.DayPicker_1.DayPicker__horizontal.DayPicker__horizontal_2.DayPicker__withBorder.DayPicker__withBorder_3 > div {
    margin-left: 12px !important;
}
.label-button{
    font-size: 17px;
}

  .box-book .DateRangePicker.DateRangePicker_1 input::placeholder {
    color: rgb(72, 72, 72) !important;
}
.footer-booking {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid #EBEBEB !important;
    background-color: #ffffff !important;

}
.footer-booking-content{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    z-index: 4 !important;
   
}