.title-review{
    font-size: 30px;
    font-weight: bold
}
.box-title{
      border: 1px solid rgb(228, 228, 228);   
      /* height: 65px; */
      border-radius: .25rem;
      padding: 12px;
}
.info-booking {
    margin-top: 10%
}


.info-booking .title-box{
    font-weight: bold
}
.book-checkin{
    height: auto;
    width: 50%;
        float: left;


}
.book-checkout{
    height: auto;
    width: 50%;
        float: left;

        
}
.box-date{
    background-color: rgb(242, 242, 242) !important;
    float: left !important;
    height: 56px !important;
    text-align: center;
    float: left;
    border-radius: 3px !important;
    min-width: 56px;

}
.box-date-info{
    display: inline-block !important;
    margin: 8px 16px 6px;
}
.logo-box{
    display: inline-block ;
    height: 56px ;
    width: 56px ;
    border-width: 1px ;
    border-style: solid ;
    border-color: rgb(235, 235, 235) ;
    border-image: initial ;
    border-radius: 3px ;

}
.service-detail{
    display: table !important;
    width: 100% !important;
    height: 100% !important;    
    margin-bottom: 5px
}
.logo-content{
    display: table-cell !important;
    width: 100% !important;
    vertical-align: top !important;
}
.logo-content .content{
    display: table !important;
    position: relative !important;
    height: 100% !important;
}
._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
._1r804a6o{

}
.logo-box i {
    margin-top: 15%;
    font-size: 30px;

}
.info-box{
    border: 1px solid rgb(228, 228, 228);   
    width: 85%;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
}
.box-room{
    height: 117px;
    position: relative;
}
.box-room-title{
    width: 68%;
    height: 117px;
    float: left;

}
.box-room-title span:first-child { 
    font-weight: bold
}
.box-room-img{
    float: left;
    width: 30%;
    background-color: red;
    height: 80px;

}
.box-room-img img{
    width: 100%;
    height: 100%;
}

.price-info{
    float: left;
}
.price-total{
    text-align: right
}
.div-price .price-group li{
    margin-bottom: 10px
}
.img-eye{
    vertical-align: middle ;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left ;
    display: table-cell;

}
.content-eye{
    display: table-cell ;
    vertical-align: middle ;
    text-align: left ;
    width: 100% ;
}

.readmoreReviewBook{
    color: #008489;
}

.hidemoreReviewBook{
    color: #008489;
    display: none;
}

.readmoreReviewBook:target ~ .hidemoreReviewBook {
    display: inline;
 }

.readmoreReviewBook:target {display: none;}
.readmoreReviewBook:target ~ .readmoreReviewBook {display: none;}
.readmoreReviewBook:target ~ .reviewBook-detail {
    max-height: 100%; 
    opacity: 1;
 }
 
 .reviewBook-detail{
    position: relative;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: .25s ease;  
 }
 .btn-AgreeBook{
    background:rgb(0, 132, 137) !important;
    color:white !important;
    width: 130px !important;
 }

 @media (max-width: 767px){
     .info-box {
         width: 100% !important;
     }
 }
.div-price hr{
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}
.div-price p {
        margin-top: 3px;
}