.title-review{
    font-size: 30px;
    font-weight: bold
}
.box-title{
      border: 2px solid gray;   
      height: 65px;
      text-align: center
}
.info-booking {
    margin-top: 10%
}
.box-title i {
    font-size: 26px
}

.info-booking .title-box{
    font-size: 26px;
        font-weight: bold
}
.book-checkin{
    height: auto;
    width: 50%;
        float: left;


}
.book-checkout{
    height: auto;
    width: 50%;
        float: left;

        
}
.box-date{
    background-color: gainsboro;
    width: 30%;
    height: 70px;
    text-align: centers;
    float: left;
}
.box-date-info{
    float: left;
    width: 70%;
}
.logo-box{
    width: 15%;
    height: 70px;
    border: 1px solid gray;     
    text-align: center  

}
.service-detail{
    margin-bottom: 5px
}
.logo-content{
    margin-top: 4%;
    margin-left: 5%;
}
.logo-box i {
    margin-top: 15%;
    font-size: 30px;

}
.info-box{
      border: 2px solid gray;   
      width: 100%;
      height: 500px;
}
.box-room{
    height: 117px;
    position: relative;
}
.box-room-title{
    width: 60%;
    height: 117px;
    float: left;
    text-align: center

}
.box-room-title p:first-child { 
    font-weight: bold
}
.box-room-img{
    float: left;
    width: 40%;
    background-color: red;
    height: 117px;

}
.box-room-img img{
    width: 100%;
    height: auto;
}

.price-info{
    float: left;
}
.price-total{
    text-align: right
}
.div-price .price-group li{
    margin-bottom: 10px
}
