.carousel-inner {
    position: relative;
    /* width: 305px; */
    width: 100%;
    height: 203px;
    background: #ccc;
    border-radius: 2%;
    margin-top: 10px;
  }
  
  .carousel-inner img{
    width: 100%;
    height: 203px;
  }
  
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  
  .carousel-indicators li{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 1px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
  }
  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 0;
    margin-left: 4px;
    background-color: #fff;
  }
  .carousel-control-prev, 
  .carousel-control-next{
    display: none;
  }
  .slide:hover .carousel-control-prev,
  .slide:hover .carousel-control-next {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
  }